# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build / runtime
dist/
.build/
.cache/

# OS
.DS_Store
.vscode/

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# mac-specific
.DS_Store

# IDE
.idea/